# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches & Temporary Folders
keras_unzipped/

# Virtual Environments
venv/
.venv/
env/
.env
ENV/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
